.search{
  position: absolute;
  right: 0;
  top: 0;
  width: 210px;
}
.filter-view{
  font-size: 14px;
  color: #666;

  .item{
    margin-top: 20px;

    > span{
      width: 70px;
      line-height: 28px;
      float: left;
    }
    > div{
      float: float;

      a{
        height: 28px;
        float: left;
        border-radius: 3px;
        border: 1px solid #b3b3b3;
        line-height: 26px;
        padding: 0 9px;
        margin-right: 10px;
        cursor: pointer;
        color: #666;

        &.active, &:hover{
          background: #007be9;
          color: #fff;
          border-color: #007be9;
        }
      }
    }
  }
}
.title-view{
  height: 60px;
  line-height: 60px;

  span{
    font-size: 24px;
    color: #333;
    float: left;
    padding-left: 12px;

    &:after{
      content: '';
      position: absolute;
      left: 0;
      width: 4px;
      height: 20px;
      border-radius: 2px;
      background-color: #0084ff;
      top: 50%;
      margin-top: -10px;
    }
  }
  .match-guide-nav{
    height: 100%;
    padding: 15px 0 15px 20px;
    float: left;

    li{
      margin-right: 10px;
      border: 1px solid #b3b3b3;
      border-radius: 3px;
      height: 30px;
      line-height: 28px;
      float: left;
      padding: 0 16px;
      font-size: 14px;
      color: #666;
      cursor: pointer;

      &.active, &:hover{
        background-color: #007be9;
        border-color: #007be9;
        color: #fff;
      }
    }
  }
  .more{
    float: right;
    font-size: 16px;
    color: #666;
    padding-right: 20px;
    background: url('~@/assets/images/more.png') no-repeat center right;

    &:hover{
      text-decoration: underline;
    }
  }
}

.data-view{
  margin-bottom: 60px;

  .track-view{
    float: left;
    width: 430px;

    li{
      margin-bottom: 10px;
      width: 100%;
      height: 110px;
      padding: 10px;
      border-radius: 3px;
      cursor: pointer;


      .i-img{
        width: 136px;
        height: 90px;
        border: 1px solid #fff;
        border-radius: 2px;
        float: left;
      }
      .r{
        width: 268px;
        padding-right: 15px;

        float: right;

        .name{
          font-size: 18px;
          line-height: 37px;
          color: #333;
          margin-bottom: 25px;
        }
        .unit{
          font-size: 14px;
          line-height: 28px;
          color: #666;
        }
      }
      &.active{
        background-color: #007be9;

        &:after{
          content: '';
          position: absolute;
          right: -6px;
          top: 50%;
          margin-top: -6px;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-left: 6px solid #007be9;
          border-bottom: 6px solid transparent;
        }
        .r .name,.unit{
          color: #fff;
        }
      }
    }
  }
  .track-child-view{
    padding: 20px;
    float: right;
    width: 750px;
    padding-top: 16px;
    border-radius: 5px;
    background: #fff;

    .nav-view{
      height: auto;

      span{
        font-size: 18px;
        color: #333;
        padding-left: 12px;
        float: left;
        line-height: 26px;
        margin-bottom: 10px;

        &:after{
          content: '';
          position: absolute;
          left: 0;
          width: 4px;
          height: 16px;
          border-radius: 2px;
          background-color: #0084ff;
          top: 5px;
        }
      }
      .nav-list{
        float: left;

        li{
          float: left;
          margin-left: 10px;
          margin-bottom: 10px;
          padding: 0 10px;
          height: 26px;
          line-height: 24px;
          font-size: 14px;
          border: 1px solid #666;
          color: #666;
          border-radius: 12px;
          cursor: pointer;

          &.active, &:hover{
            background-color: #007be9;
            border: 1px solid #007be9;
            color: #fff;
          }
        }
      }
    }
    .list li{
      height: 56px;
      border-bottom: 1px solid #f2f2f2;
      padding-right: 70px;
      line-height: 56px;
      font-size: 14px;
      color: #333;
      cursor: pointer;

      &:hover{
        color: #007be9;
      }
      .link{
        width: 66px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        border-radius: 4px;
        background-color: #f2f3f4;
        font-size: 12px;
        color: #007be9;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -12px;
      }
    }
  }
}
